/* Serenity CSS Framework.  This framework includes basic classes that format
 * Serenity messages, and give the user a library of predefined classes for simple layout.
 * As of this version this is not intended to be a full fledged CSS layout framework.
 */



/* Text Styles */
.red-text {
	color: red;
}
.bold {
	font-weight: bold;
}

/* Margin Bottom Classes */
.margin-bottom-10 {
	margin-bottom: 10px;
}
.margin-bottom-20 {
	margin-bottom: 20px;
}
.margin-bottom-30 {
	margin-bottom: 30px;
}
.margin-bottom-40 {
	margin-bottom: 40px;
}
.margin-bottom-50 {
	margin-bottom: 50px;
}
.margin-bottom-60 {
	margin-bottom: 60px;
}
.margin-bottom-70 {
	margin-bottom: 70px;
}
.margin-bottom-80 {
	margin-bottom: 80px;
}
.margin-bottom-90 {
	margin-bottom: 90px;
}
.margin-bottom-100 {
	margin-bottom: 100px;
}

/* Margin Top Classes */
.margin-top-10 {
	margin-top: 10px;
}
.margin-top-20 {
	margin-top: 20px;
}
.margin-top-30 {
	margin-top: 30px;
}
.margin-top-40 {
	margin-top: 40px;
}
.margin-top-50 {
	margin-top: 50px;
}
.margin-top-60 {
	margin-top: 60px;
}
.margin-top-70 {
	margin-top: 70px;
}
.margin-top-80 {
	margin-top: 80px;
}
.margin-top-90 {
	margin-top: 90px;
}
.margin-top-100 {
	margin-top: 100px;
}

/* Margin Left Classes */
.margin-left-10 {
	margin-left: 10px;
}

.margin-left-20 {
	margin-left: 20px;
}

.margin-left-30 {
	margin-left: 30px;
}

.margin-left-40 {
	margin-left: 40px;
}

.margin-left-50 {
	margin-left: 50px;
}

.margin-left-60 {
	margin-left: 60px;
}

.margin-left-70 {
	margin-left: 70px;
}

.margin-left-80 {
	margin-left: 80px;
}

.margin-left-90 {
	margin-left: 90px;
}

.margin-left-100 {
	margin-left: 100px;
}

/* Minimum height Classes */
.min-600 {
	min-height: 600px;
}

/* Serenity Error Message Classes */

div.Serene_Error {
	width: 80%;
	padding: 30px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	background: #BC2A1A;
	color: white;
	border: solid;
	border-color: #A40802;
	border-width: 2px;
}